{% extends 'blog/base.html' %}

{% block content %}
    <article class="cat">
        <aside class="actions">
            {% if user.is_authenticated %}
     <a class="btn btn-secondary" href="{% url 'category_detail' cat' %}">
        {% include './icons/pencil-fill.svg' %}
     </a>
{% endif %}
        </aside>
        <!-- {% if cat.published_date %}
            <time class="date">
                {{ cat.published_date }}
            </time>
        {% endif %} -->
        <h2>{{ cat.title }}</h2>
        <p>{{ cat.text|linebreaksbr }}</p>
        
    </article>
{% endblock %}